html {
	font-size: 100%;
}

html, body {
	height: 100%;
}

body {
	background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
	color: #333333;
	display: flex;
	flex-direction: column;
	font-family: menlo, monospace;
	font-weight: 100;
	line-height: 1.5rem;
}

h2, h3, h4 {
	font-family: poppins, menlo, monospace;
	font-weight: normal;
}

#wrapper {
	background: #fff;
	display: flex;
	flex: 1;
	flex-direction: column;
	font-size: .9rem;
	margin: .5rem;
}

header, #body {
	margin: auto;
	width: 90%;
	max-width: 500px;
}

#body {
	margin-top: 0;
}

header {
	margin-bottom: 0;
}

h1 {
	font-family: "Permanent Marker";
	font-size: 3rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1rem;
}

.highlighter {
	/* background-color: pink; */
	border-bottom: 4px solid pink;
}
