/* Body
-------------------------------------------------------------- */

body {
	background-color: #ddeeff;
	color: #000;
	font-size: 75%;
	font-family: verdana, tahoma, sans-serif;
	text-align: center;
	line-height: 1.5em;
}

/* Fonts
-------------------------------------------------------------- */

h1, h2 {
	font-family: "helvetica neue", arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 3em;
	font-weight: bold;
	margin: 0px;   
	font-family: "museo-1","museo-2";
}

h2 {
  font-size: 1.167em;   
  font-weight: normal;
  margin: 0px 0px 1em;
}

h1 a, h2 a {
	color: #333;
  border-bottom: none;
}

p {
	margin: 1.5em 0px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul li {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #036;
	border-bottom: 1px dotted #9ce;
}

/* Layout
-------------------------------------------------------------- */

#box {
	margin: 100px auto 0px;
	width: 325px;
	padding: 36px 36px;
	text-align: left;
	background: #fff;
  overflow: hidden;
	position: relative;   
	-webkit-box-shadow: 1px 1px 5px #999;
	-moz-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
} 

p.title {
  margin-top: 1em;
  color: #777;
}

/* Controls
-------------------------------------------------------------- */

.buttons ul {
}

.buttons li {
  display: inline;
}

.buttons li a {
  display: inline-block;  
  position: relative;     
	color: #555;
	border: none;
  background: #eee;
  padding: 2px;
	width: 72px;
	text-align: center;     
	font-size: .83em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.buttons li a:focus {
  outline: none;
}

.buttons li a.activeSlide {
  background-color: #369;
  color: #fff;    
  text-shadow:1px 1px 0px #555
}   

/* Silly Arrow Decoration */

a.activeSlide:after {
	content: "\00a0";
	display: block; /* reduce the damage in FF3.0 */
  position: absolute;
	bottom: -8px; /* value = - border-top-width - border-bottom-width */
	left: 34px; /* controls horizontal position */
	width: 0;
	height: 0;
	border-width: 4px 4px; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: #369 transparent transparent; 
}

/* hCard
-------------------------------------------------------------- */

.type {
	display: none;
}


/* Utilities
-------------------------------------------------------------- */

.hidden {
	display: none;
}  

p span.amp {
  font-family: Baskerville, 'Goudy Old Style', 'Book Antiqua', 'Palatino Linotype', 'Times New Roman', serif;
  font-size: 1.4em;
  color: #555;
}

/* Slides
-------------------------------------------------------------- */

#slideshow-nav {
  margin: 1.5em 0;
}

#slideshow {
  width: 325px;
  overflow: hidden;
}

#slideshow .slide {
  width: 325px;
}

#slideshow p {
  margin: 0;
}

#slideshow p, #slideshow li {
  color: #555;
}